/* Scroll NAV */
.scroll-nav {
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  transform: translateY(-100px);
  opacity: 0;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 0px;
  overflow: hidden;
  display: block;
}
.scroll-nav .brand img {
  width: 250px;
}
.scroll-nav .container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  align-items: center;
}
.scroll-nav .container .nav-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}
.scroll-nav .active {
  color: white !important;
}
.scroll-nav .container .nav-items .nav-item {
  text-align: center;
  color: #888;
}
.scroll-nav .container .nav-items .nav-item:hover {
  color: purple;
}
.scroll-nav .container .contacts {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  justify-items: end;
  align-items: baseline;
  color: #888;
  font-size: 0.8em;
}


/* Jumbo Navigation Component */
.jumbotron nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 0;
}
.jumbotron nav .brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.jumbotron nav .brand img {
  width: 250px;
}
.jumbotron nav .nav-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1.5fr;
  align-items: center;

}
.jumbotron nav .nav-items .nav-item {
  text-align: center;
  font-weight: bold;
  color:#bbb !important;
  transition: .2s
}


.jumbotron nav .nav-items .nav-item:hover {
  padding-bottom: 15px;
  border-bottom: 1px solid white;
  color:white !important;
}
.jumbotron nav .contacts {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  justify-items: end;
  align-items: center;
}
.jumbotron nav .free_consultation{
  border: 1px solid #aaa;
  padding:10px 0;
  box-sizing: border-box;
}
.jumbotron nav .free_consultation:hover{
  border: 1px solid white;
  padding-bottom: 10px !important;
  border-bottom: 1px solid white !important;
  color:white !important;
}


/* Nav Items Mobile */
.nav-items-mobile {
  background: linear-gradient(-45deg,purple, darkblue);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  box-sizing: border-box;
  overflow: hidden;
  transition: 0.1s;
  position: fixed;
  top: 90px;
  right: 40px;
  z-index: 10;
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);
  padding: 20px 10px;
  opacity: 0;
  transform: translateY(-2000px);
}
.nav-items-mobile .nav-item {
  transition: 0.2s;
  color: white !important;
}
.nav-items-mobile .nav-item:hover {
  color: #3d8fc2;
  padding-left: 5px;
  border-left: 2px solid white;
}
.hamburger {
  justify-self: end;
  padding: 0;
  margin: 0;
  transform: scale(1.5, 1.5);
  display: none;
}

/* Jumbotron Main Container */
.jumbo-main-container{
  margin-top: 80px;
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
}
.jumbo-main-container .jb-divider{
  display: flex;
  align-items: center;
  justify-content: center;
}
.jumbo-main-container .jb-divider div{
  background:white;
  width: 3px;
  height: 70%;
}
.jumbo-main-container .stars-container{
  padding:20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jumbo-main-container .stars-container i{
  color:orange;
  margin-right: 4px
}
.jumbo-main-container .btn-and-stars{
  width:180px;
}


@media(min-width:1300px){
  .nav-items-mobile{
    display: none;
  }

}
@media (max-width: 1300px) {
  .scroll-nav .brand img {
    width: 180px;
  }
  .scroll-nav .container .contacts,
  .scroll-nav .container .nav-items {
    display: none;
  }
  .scroll-nav .container {
    display: flex;
  }
  .scroll-nav .container .hamburger {
    margin-left: auto;
  }
  .scroll-nav .hamburger {
    display: block;
  }
  .jumbo-main-container .jb-div{
    display: none;
  }
  .jumbo-main-container{
    grid-template-columns: 1fr;
    padding-bottom: 20px;
    text-align: center;
  }
  .jumbo-main-container .btn-and-stars{
    margin:0 auto;
  }
}
@media(max-width: 840px){
  .jumbo-main-container{
    margin-top: 0px;
  }
}
/* JUMBOTRON */
.jumbotron {
  min-height: 95vh;
  background: url('/images/jb_bg.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  color: white !important;
  
  position: relative;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeDownDown {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  99% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    transform: translateY(2000px);
  }
}

@media (max-width: 1300px) {
  .jumbotron nav .nav-items,
  .jumbotron nav .contacts{
    display: none !important;
  }
  .jumbotron .hamburger {
    display: block;
  }
  .jumbotron nav {
    grid-template-columns: 1fr 1fr;
  }
  .jumbotron nav .brand img {
    width: 180px;
  }
}
@media(max-width: 760px){
}
