/* Scroll NAV */
.scroll-nav {
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  transform: translateY(-100px);
  opacity: 0;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 0px;
  overflow: hidden;
  display: block;
}
.scroll-nav .brand img {
  width: 250px;
}
.scroll-nav .container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}
.scroll-nav .container .nav-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}
.scroll-nav .active {
  color: white !important;
}
.scroll-nav .container .nav-items .nav-item {
  text-align: center;
  color: #888;
}
.scroll-nav .container .nav-items .nav-item:hover {
  color: purple;
}
.scroll-nav .container .contacts {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  justify-items: end;
  align-items: baseline;
  color: #888;
  font-size: 0.8em;
}


/* Jumbo Navigation Component */
.jumbotron nav {
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  padding: 20px 0;
}
.jumbotron nav .brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.jumbotron nav .brand img {
  width: 250px;
}
.jumbotron nav .nav-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;

}
.jumbotron nav .nav-items .nav-item {
  text-align: center;
  font-weight: bold;
  color:#bbb !important;
  transition: .2s
}


.jumbotron nav .nav-items .nav-item:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid white;

}
.jumbotron nav .contacts {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  justify-items: end;
  align-items: center;
}



/* Nav Items Mobile */
.nav-items-mobile {
  background: linear-gradient(-45deg,purple, darkblue);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  box-sizing: border-box;
  overflow: hidden;
  transition: 0.1s;
  position: fixed;
  top: 90px;
  right: 40px;
  z-index: 10;
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);
  padding: 20px 10px;
  opacity: 0;
  transform: translateY(-2000px);
}
.nav-items-mobile .nav-item {
  transition: 0.2s;
  color: white !important;
}
.nav-items-mobile .nav-item:hover {
  color: #3d8fc2;
  padding-left: 5px;
  border-left: 2px solid white;
}
.hamburger {
  justify-self: end;
  padding: 0;
  margin: 0;
  transform: scale(1.5, 1.5);
  display: none;
}


@media(min-width:1300px){
  .nav-items-mobile{
    display: none;
  }
}
@media (max-width: 1300px) {
  .scroll-nav .brand img {
    width: 180px;
  }
  .scroll-nav .container .contacts,
  .scroll-nav .container .nav-items {
    display: none;
  }
  .scroll-nav .container {
    display: flex;
  }
  .scroll-nav .container .hamburger {
    margin-left: auto;
  }
  .scroll-nav .hamburger {
    display: block;
  }
}

/* JUMBOTRON */
.jumbotron {
  min-height: 100vh;
  background: url('/images/jb_bg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  color: white !important;
  
  position: relative;
}

/* Jumbo Main Container */
.jumbotron .jumbo-main-container {
  display: grid;
  grid-template-columns: 1fr 500px;
}
.jumbotron .jumbo-main-container .jumbo-text{
  margin-top: 70px;
  margin-left: 50px;
  padding-bottom: 20px;
}
.jumbotron .jumbo-main-container .jumbo-image{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}

.jumbotron .jumbo-main-container img{
  width:420px;
  bottom:0;
  position: absolute;
}




@keyframes shake {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeDownDown {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  99% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    transform: translateY(2000px);
  }
}

@media (max-width: 1300px) {
  .jumbo-right-hand p:nth-child(1),
  .jumbo-divider,
  .jumbotron nav .nav-items,
  .jumbotron nav .contacts,
  .jumbo-right-hand {
    display: none !important;
  }
  .jumbotron .jumbo-main-container {
    grid-template-columns: 1fr;
  }
  .jumbotron .hamburger {
    display: block;
  }
  .jumbo-left-hand p {
    text-align: center !important;
  }
  .jumbotron .hr-med {
    height: 50px;
  }
  .jumbotron nav {
    grid-template-columns: 1fr 1fr;
  }

  .jumbo-left-hand p:nth-child(1) {
    font-size: 3em;
  }
  .jumbotron nav .brand img {
    width: 180px;
  }
  .jumbotron .jumbo-main-container .jumbo-text{
    text-align: center;
    margin-top: 30px;
    margin-left: 0px;
  }
  .jumbotron .jumbo-main-container .jumbo-image{
    display: none
  }
}
@media(max-width: 760px){
  .jumbotron .jb-header{
    font-size: 1.5em;
    font-weight: bolder;
  }
  .jumbotron .jb-subheader{
    line-height: 1.2em;
  }
  .jumbo-text{
    min-height:80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
