.container.kizer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-top:50px;
}
.container.kizer img{
    width: 80%;
    max-width:550px;
}

@media(max-width:760px){
    .container.kizer{
        grid-template-columns: 1fr;
    }
    .container.kizer img{
        width: 100%;
    }
}