.pricing_component {
  height: 100vh;
  background: #fafafa;
  position: fixed;
  top: 0;
  transform: translateX(-7000px);
  overflow: auto;
  width: 100vw;
  z-index: 15;
}
.pricing_component .header {
  background: url('/images/jb_bg.jpg');
  background-position: center;
  background-size: cover;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);

}
.pricing_component .header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing_component .header .container img {
  width: 180px;
}
.pricing_component .header .container p {
  margin-left: 10px;
}
.pricing_component .header button {
  background: transparent;
  color: white;
  border: none;
  padding: 0;
  font-size: 1.5em;
  margin-left: auto;
  cursor: pointer;
  transition: 0.1s;
}

.pricing_component .pricing{
  background:white;
  padding:20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);
  border-radius: 10px;
  width:100%;
  max-width: 1000px;
  margin:0 auto;
  box-sizing: border-box;
}
.pricing_component .pricing .price-and-calculator-container{
  transition: .2s;
  border-top: 5px solid purple;
  background:white;
  width:80%;
  max-width: 500px;
  margin:0 auto;
  padding:30px 0;
  box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);
  border-radius: 10px;
}

.pricing_component .pricing .pricing-select{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing_component .pricing .pricing-select select{
  font-size: 1em;
  background:orange;
  border:none;
  padding:10px;
  color:white;
  font-weight: bolder;
  background:linear-gradient(45deg, purple 50%, darkblue );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width:80%;
}
.pricing_component .pricing .pricing-select select option{
  color:black;
  padding: 10px 0;
}

.pricing_component .pricing .pricing-select select:focus{
  outline: none;
}
.pricing_component sup, span.cent{
  font-size: .5em;
  font-weight: normal;
}

.pricing-attribute{
  margin:0;
  text-align:right
}
.pricing_component table tr{
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-collapse: collapse; 
}
table tr td{
  padding:10px;
  box-sizing: border-box
}


.pricing_component .header button:hover {
  transform: scale(1.1, 1.1);
}

.pricing_component .testimonials .container{
  grid-template-columns: 1fr !important;
}
.pricing_component .testimonials .testimonial .testimonial-content{
  max-width: 600px;
}


@keyframes componentShow {
  0% {
    transform: translateX(-7000px);
  }
  60% {
    transform: translateX(100px);
  }
  70% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes componentHide {
  0% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(-7000px);
  }
}
