
    .jumbo-main-container{
        margin-top: 80px !important;
        display: grid !important;
        grid-template-columns: 1fr !important;
    }
    p.text-bigmed{
        margin-bottom: 5px;
    }
    p.text-mednorm.jumbo-subhead{
        color:#aaa;
    }

    div.resell-component2-things{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    div.resell-component2-things div{
        background:white;
        box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);
        padding:20px;
        box-sizing: border-box;
        border-radius: 30px;
    }
    div.resell-reminders{
        background:#fafafa;
        margin:0;
        padding:40px 0;
    }
    @media(max-width:840px){
        div.resell-component2-things{
        grid-template-columns: 1fr;
        }
    }
