
  .progressbar {
    counter-reset: step;
  }
  
  .progressbar li {
    list-style-type: none;
    float: left;
    width: 25%;
    position: relative;
    text-align: center;
  }
  
  .progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: salmon;
    color:white;
  }
  
  .progressbar li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: -1;
  }
  
  .progressbar li:first-child:after {
    content: none;
  }
  
  .progressbar li.active {
    color: salmon;
  }
  
  .progressbar li.active:before {
    border-color: salmon;
  }
  
  .progressbar li.active + li:after {
    background-color: salmon;
  }

  .card{
    background:white !important;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 150px;
    padding:10px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}