.what-is-leadengine.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: 60vh;
    grid-gap: 20px;
}
.what-is-leadengine.container div:nth-child(1) p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.what-is-leadengine.container div:nth-child(1) img{
    width:50px;
    margin-right: 20px;
}

@media(max-width:1300px){
    .what-is-leadengine.container {
        grid-template-columns: 1fr;
    }
}